<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Моя библиотека</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <h5 class="text-center">Добро пожаловать в {{ title }}.</h5>
                <h5 class="text-center">Тут собрано {{ books|length }} книг из моей личной коллекции.</h5>
                <table class="table table-dark table-stripped table-hover">
                    <thead class="thead-light">
                        <tr class="table-bordered text-center">
                            <th>№</th>
                            <th>Название книги</th>
                            <th>ISBN</th>
                            <th>О книге</th>
                            <th>Год</th>
                            <th>Автор</th>
                            <th>Издательство</th>
                            <th>Страна</th>
                            <th>Кол-во</th>
                            <th>Изменить количество</th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered text-center">
                        {% for book in books %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.ISBN }}</td>
                            <td>{{ book.description }}</td>
                            <td>{{ book.year_release }}</td>
                            <td>{{ book.author.full_name }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.author.country }}</td>
                            <td>{{ book.copy_count }}</td>
                            <td>
                                <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{book.id}}" />
                                    <input class="btn btn-warning btn-sm" type="submit" value="Увеличить кол-во" />
                                </form>
                                <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{book.id}}" />
                                    <input class="btn btn-success btn-sm" type="submit" value="Уменьшить кол-во" />
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>  
    </div>
</body>
</html>
